@import '../../styles/variables.scss';

.about_us_block {
  .cards-wrapper {
    display: flex;
    border-radius: 0 0 50px 50px;
    flex-direction: column;
    background-color: $midnight-depth;
    padding-block: 70px 60px;
    margin: 0 auto;
    padding-inline: 24px;
    @include media-screen-min-768 {
      padding-inline: 32px;
    }
    @include media-screen-min-1280 {
      padding-inline: 114px;
      //max-width: 1440px;
    }
    @include media-screen-min-768 {
      //padding-top: 230px;
    }
    @include media-screen-min-1024 {
      padding-block: 300px 100px;
    }
    @include media-screen-min-1440 {
      padding-block: 425px 138px;
    }
    @include media-screen-min-992 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .left-content {
      width: 100%;
      gap: 25px;
      @include media-screen-max-992 {
        margin-bottom: 30px;
      }
      @include media-screen-min-992 {
        width: 48.76%;
        gap: 150px;
      }
      .text {
        color: $sky-breeze;
      }
    }
    .right-image-card {
      width: 100%;
      @include media-screen-min-992 {
        width: 41.88%;
      }
      .left-image {
        padding-top: 110.71%;
        img {
          border-radius: 27px;
        }
      }
    }
  }
  .about-us-highlights {
    gap: 50px;
    .about-us-highlight {
      display: flex;
      align-items: flex-start;
      gap: 41px;
      p {
        line-height: 120%;
      }
      .about-us-highlight-svg {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
      }
    }
  }
}
