@import '../../styles/variables.scss';
.about_us_block {
  padding-bottom: 80px;
  @include media-screen-min-768 {
    padding-bottom: 187px;
  }
  .about-us-top-svg {
    position: absolute;
    left: 0;
    width: 100%;
    //600 => 375
    //top: 11.5%;
    //
    @include media-screen-min-1024 {
      top: 25.2%;
    }
    @include media-screen-min-1280 {
      top: 25.32%;
    }
    @include media-screen-min-1500 {
      top: 29.72%;
    }
  }
  .about-us-bottom-svg {
    position: absolute;
    right: 0;
    bottom: -88px;
    z-index: 1;
    @include media-screen-max-600 {
      width: 93%;
      bottom: -100px;
    }
  }
  .content-wrapper {
    position: relative;
    display: flex;
    border-radius: 0 0 50px 50px;
    flex-direction: column;
    background-color: $midnight-depth;
    margin: 0 auto;
    padding-inline: 24px;
    padding-block: 220px 100px;
    @include media-screen-min-768 {
      padding-inline: 32px;
    }
    @include media-screen-min-992 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include media-screen-min-1024 {
      padding-block: 327px 160px;
    }
    @include media-screen-min-1440 {
      padding-inline: 142px 249px;
    }
    @include media-screen-min-1500 {
      align-items: flex-start;
    }
    .left-content {
      width: 100%;
      gap: 25px;
      @include media-screen-max-992 {
        margin-bottom: 50px;
      }
      @include media-screen-min-992 {
        width: 48.76%;
      }
      @include media-screen-min-992{
        gap: 80px;
      }
      @include media-screen-min-1280 {
        width: 48.76%;
        gap: 80px;
      }
      @include media-screen-min-1500 {
        //padding-block: 147px 80px;
        gap: 130px;
      }
      .text {
        color: $sky-breeze;
      }
      .description {
        @include media-screen-max-992 {
          max-width: 515px;
        }
      }
    }
    .right-image-card {
      width: 100%;
      @include media-screen-min-992 {
        width: 41.88%;
      }
      .left-image {
        padding-top: 110.71%;
        img {
          border-radius: 27px;
        }
      }
    }
  }
  .about-us-highlights {
    gap: 50px;
    padding-top: 80px;
    @include media-screen-min-768 {
      padding-top: 100px;
    }
    @include media-screen-min-1024 {
      padding-top: 128px;
      gap: 100px;
    }
    @include media-screen-min-1440 {
      padding-inline: 28px 25px;
    }
    .about-us-highlight {
      display: flex;
      align-items: flex-start;
      gap: 41px;
      @include media-screen-max-768 {
        flex-direction: column;
      }
      p {
        @include media-screen-max-600 {
          font-size: 20px;
        }
        line-height: 120%;
      }
      .about-us-highlight-svg {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
      }
    }
  }
}
