@import 'variables.scss';

// region fonts

@font-face {
  font-weight: 500;
  font-family: "Urbanist";
  src: url('fonts/Urbanist-Medium.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-weight: 100;
  font-family: "Maxima Nouva";
  src: url('fonts/MaximaNouva-Thin.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-weight: 400;
  font-family: "Maxima Nouva";
  src: url('fonts/MaximaNouva-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-weight: 700;
  font-family: "Maxima Nouva";
  src: url('fonts/MaximaNouva-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-weight: 800;
  font-family: "Maxima Nouva";
  src: url('fonts/MaximaNouva-ExtraBold.woff2') format('woff2');
  font-style: normal;
}


// endregion fonts

//region typography
.display, .display p {
  font-family: $urbanist;
  color: $black;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  @include media-screen-min-1024 {
    font-size: 64px;
  }
  @include media-screen-min-1440 {
    font-size: 94px;
  }
  @include media-screen-min-1920 {
    font-size: 110px;
  }
}

h1, .salute-h1, .salute-h1 p {
  font-family: $maxima;
  color: $black;
  font-size: 50px;
  font-weight: 400;
  line-height: 106%;
  @include media-screen-min-1024 {
    font-size: 85px;
  }

  @include media-screen-min-1440 {
    font-size: 104px;
  }
}

h2, .salute-h2, .salute-h2 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 106%;
  @include media-screen-min-1024 {
    font-size: 65px;
  }
  @include media-screen-min-1440 {
    font-size: 82px;
  }
}

h3, .salute-h3, .salute-h3 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  @include media-screen-min-1024 {
    font-size: 55px;
  }
  @include media-screen-min-1440 {
    font-size: 64px;
  }
}

h4, .salute-h4, .salute-h4 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  @include media-screen-min-1024 {
    line-height: 100%;
    font-size: 40px;
  }
  @include media-screen-min-1440 {
    font-size: 54px;
  }
}

h5, .salute-h5, .salute-h5 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  @include media-screen-min-1024 {
    font-size: 30px;
  }
  @include media-screen-min-1440 {
    font-size: 40px;
  }
}

h6, .salute-h6, .salute-h6 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  @include media-screen-min-992 {
    font-size: 30px;
  }
}

.paragraph-28, .paragraph-28 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  font-size: 25px;
  @include media-screen-min-1024 {
    font-size: 28px;
  }
}

.paragraph-26, .paragraph-26 p {
  font-family: $maxima;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
    font-size: 26px;
}

.paragraph-24, .paragraph-24 p {
  font-family: $maxima;
  color: $black;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.paragraph-22, .paragraph-22 p {
  font-family: $maxima;
  color: $twilight-steel;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


.paragraph-20, .paragraph-20 p {
  font-family: $maxima;
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.paragraph-18, .paragraph-18 p, p {
  font-family: $maxima;
  color: $black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  @include media-screen-min-992 {
    font-size: 18px;
  }
}

.button-large {
  color: $black;
  font-family: $maxima;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.button-base {
  color: $black;
  font-family: $maxima;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100px;
}

.button-small {
  color: $black;
  font-family: $maxima;
  font-size: 13px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
}

.cta-button {
  @include theme-cta-button-style;
}

.italic {
  font-style: italic;
}


.urbanist , .urbanist p {
  font-family: $urbanist;
}

.maxima , .maxima p {
  font-family: $maxima;
}

.fw-300, .fw-300 p {
  font-weight: 300;
}

.fw-400, .fw-400 p {
  font-weight: 400;
}

.fw-500, .fw-500 p {
  font-weight: 500;
}

.fw-600, .fw-600 p {
  font-weight: 600;
}

.fw-700, .fw-700 p {
  font-weight: 700;
}

.fw-800, .fw-800 {
  font-weight: 800;
}

.twilight-steel , .twilight-steel p {
  color: $twilight-steel;
}

.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}

.white-color, .white-color p {
  color: $white;
}

.black-color, .black-color p {
  color: $black;
}

.color-transition {
  transition: color $duration;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line {
  width: 92px;
  height: 3px;
  background-color: $midnight-depth;
  margin: 0 auto;
}