@import '../../styles/variables.scss';

.service_feature_block {
  background-color: $twilight-steel;
  border-radius: 50px;
  @include media-screen-max-992  {
    padding-block: 60px;
  }
  .cards-wrapper {
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    @include media-screen-min-992 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include media-screen-min-1440 {
      padding-inline: 43px 16px;
    }
    .left-content {
      width: 100%;
      gap: 15px;
      @include media-screen-max-992 {
        margin-bottom: 30px;
      }
      @include media-screen-min-992 {
        width: 44.13%;
        gap: 30px;
      }
      .text {
        color: $sky-breeze;
      }
    }
    .right-image-card {
      width: 100%;

      @include media-screen-min-992 {
        width: 49.47%;
        margin-bottom: -115px;
        padding-top: 115px;
      }
      .left-image {
        padding-top: 127.15%;
        img {
          border-radius: 27px;
        }
      }
    }
  }
}
