@import '../../styles/variables.scss';

.service_feature_block {
  background-color: $twilight-steel;
  border-radius: 15px;
  position: relative;
  margin-inline: 16px;
  @include media-screen-max-992 {
    border-radius: 50px;
    padding-block: 30px;
  }
  @include media-screen-min-600 {
    margin-inline: 24px;
  }
  @include media-screen-min-768 {
    margin-inline: 32px;
  }
  @include media-screen-min-992 {
    margin-inline: 0;
  }
  .section-svg {
    position: absolute;
    z-index: 1;
    right: 27.3vw;
    width: auto;
    @include media-screen-max-992 {
      display: none;
    }
  }
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    border-radius: 15px;

    @include media-screen-min-992 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 50px;

    }
    @include media-screen-min-1440 {
      padding-inline: 43px 16px;
    }
    .left-content {
      width: 100%;
      gap: 15px;
      @include media-screen-max-992 {
        margin-bottom: 30px;
      }
      @include media-screen-min-992 {
        width: 44.13%;
        gap: 30px;
      }
      .text {
        color: $sky-breeze;
      }
      .description {
        @include media-screen-max-992 {
          p {
            font-size: 18px;
          }
        }
      }
    }
    .right-image-card {
      width: 100%;

      @include media-screen-min-992 {
        width: 49.47%;
        margin-bottom: -115px;
        margin-top: 115px;
      }
      .left-image {
        padding-top: 127.15%;
        img {
          border-radius: 27px;
        }
      }
    }
  }
}
