@import '../../styles/variables.scss';

.join_salute_block {
  position: relative;
  padding-bottom: 80px;
  padding-top: 233px;
  .join-salute-svg {
    position: absolute;
    right: 48.95%;
    top: 50.58%;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    @include media-screen-min-992 {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    @include media-screen-min-1440 {
      padding-inline: 130px 112px;
    }
    .left-content {
      gap: 50px;
      width: 100%;
      @include media-screen-min-992 {
        gap: 93px;
        width: 47.13%;
      }
      @include media-screen-max-992 {
        margin-bottom: 50px;
      }
      .text {
        color: $skybolt-blue;
      }
      .description {
        p {
          color: $graphite-gray;
        }
      }
    }
    .right-content {
      width: 100%;
      background-color: $frosted-sky;
      border-radius: 50px;
      padding: 30px;
      @include media-screen-min-992 {
        width: 48.17%;
        padding: 50px;
      }
      @include media-screen-min-1440 {
        padding: 80px 75px;
      }
      .main-title {
       color: $graphite-gray;
        margin-bottom: 28px;
        }
      .tel-and-mail {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .same-svg {
          width: 21px;
          height: 21px;
          flex-shrink: 0;
          transition: fill $duration;
        }
        .phone-number {
          transition: color $duration;
          display: flex;
          align-items: center;
          gap: 15px;
          color: $graphite-gray;

          &:hover {
            color: $skybolt-blue;
            .phone-svg {
              fill: $skybolt-blue;
            }
            .same-svg {
              path {
                fill: $skybolt-blue;
              }
            }
          }
        }
        .email  {
          transition: color $duration;
          display: flex;
          align-items: center;
          gap: 15px;
          color: $graphite-gray;
          &:hover {
            color: $skybolt-blue;
            .same-svg {
              path {
                fill: $skybolt-blue;
              }
            }
          }
        }
      }
    }
    }
  }
