@import '../../styles/variables.scss';
.what_we_offer_block {
  padding-block: 74px 105px;
  .title {
    color: $skybolt-blue;
  }
  .offer-highlights {
    margin-top: 41px;
    background-color: $midnight-depth;
    border-radius: 20px;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 70px;
    @include media-screen-min-768 {
      column-gap: 10px;
    }
    @include media-screen-min-1500 {
      padding: 93px 51px 110px ;
      margin-inline: 42px 61px;
    }
    .offer-highlight {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      @include media-screen-min-768 {
        width: 49%;
      }
      @include media-screen-min-992 {
        width: 32.32%;
      }
      @include media-screen-min-1024 {
        gap: 34px;
      }
      p {
        color: $frosted-sky;
      }
      .offer-highlight-icon {
        flex-shrink: 0;
        width: 52px;
        height: 52px;
      }
    }
  }
}
