@import '../../styles/variables.scss';

header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  transition: background-color $duration;
  transform: translateX(0);
  top: 30px;
  @include media-screen-min-1024 {
    top: 52px;
  }
  // header
  .header-container {
    margin: 0 auto;
    padding-inline: 24px;
    @include media-screen-min-768 {
      padding-inline: 32px;
    }
    @include media-screen-min-1024 {
      padding-inline: 44px;
    }
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #8BCCFE26;
    width: 100%;
    border-radius: 16px;
    padding: 20px;
    @include media-screen-max-1024 {
      justify-content: space-between;
    }
    @include media-screen-min-1024 {
      gap: 80px;
      padding: 35px;
    }
    @include media-screen-min-1440 {
      gap: 150px;
      padding: 35px 111px;
    }
  }
  // logo
  .header-logo {
    width: 125px;
    height: 46px;
    z-index: 90;
    @include media-screen-min-1024 {
      width: 183px;
      height: 46px;
    }

    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // burger menu
  .burger-menu {
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;

    @include media-screen-min-1024 {
      display: none;
    }

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: black;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $midnight-depth;
        opacity: .99;
        transition: background-color $duration;
        display: table;
        border-radius: 10px;
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto 5px;
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }
  }

  // links
  .navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    @include media-screen-max-1024 {
      margin-top: -35px;
    }
    //margin-left: auto;

    @include media-screen-max-1024 {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;

      transition: transform 300ms ease-in;
    }

    &.header-links-active {
      transform: translateX(0);

      &:before {
        opacity: 0.6;
      }
    }
  }

  .navbar-wrapper {
    padding-block: 150px 100px;
    padding-inline: 44px;
    background: $white;
    width: 100%;
    height: 100vh;
    //height: 100 dvh;
    transition: padding $duration;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include media-screen-min-1024 {
      gap: 12px;
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      overflow: visible;
      flex-direction: row;
      align-items: center;
    }
    @include media-screen-min-1440{
      gap: 32px;
    }
  }

  .primary-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media-screen-min-1024 {
      align-items: center;
      flex-direction: row;
    }
    @include media-screen-min-1440 {
      gap: 37px;
    }
  }

  .menu-item {
    position: relative;
    cursor: pointer;
    width: fit-content;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 5px;
      left: 50%;
      transform: translate(-50%);
      border-radius: 15px;
      bottom: -15px;
      background-color: $skybolt-blue;
      transition: width $duration;
    }

    a {
      color: $midnight-depth;
      position: relative;
      z-index: 2;
      overflow: hidden;
      font-weight: 100;
      transition: font-size $duration , font-weight $duration ;
      line-height: 155%;
      @include media-screen-min-1024 {
        display: block;
      }
    }

    &:hover {
      &:after {
        width: 28px;
      }
      a {
        font-size: 32px;
        color: $skybolt-blue;
        font-weight: 800;
      }
    }

    &.active-page-link {
      a {
        color: $coFFD_yellow;
      }
    }

    &.menu-item-has-children {
      .sub-menu {
        height: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-inline: 30px;

        //@include media-screen-min-1024 {
        //  height: auto;
        //  width: size(200);
        //  background: rgba(245, 245, 245, 0.98);
        //  @include paddingY(size(20));
        //  position: absolute;
        //  top: 100%;
        //  left: 50%;
        //  transform: translateX(-50%);
        //  opacity: 0;
        //  transition: opacity $duration;
        //  pointer-events: none;
        //}

      }

      //.arrow {
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //  position: absolute;
      //  top: 0;
      //  transform-origin: 50% 50%;
      //  width: size(12);
      //  height: size(28);
      //  right: 0;
      //  transition: transform $duration;
      //
      //  svg {
      //    @include square(100%);
      //  }
      //
      //  @include large-screen {
      //    display: none;
      //  }
      //}

      //.menu-item-in-sub-menu {
      //  &:not(:last-child) {
      //    margin-bottom: size(22);
      //  }
      //
      //  a {
      //    @include font(14px, 700, 100%, #d1d1d1, $lato);
      //    transition: color $duration;
      //    padding: 0;
      //    @include large-screen {
      //      color: $virtual_world_fogra;
      //    }
      //
      //    &:after {
      //      display: none;
      //    }
      //  }
      //
      //  &:hover {
      //    a {
      //      color: $virtual_world_blue;
      //    }
      //  }
      //
      //  &.active-page-sublink {
      //    a {
      //      color: $virtual_world_blue;
      //    }
      //  }
      //}

      //&.menu-item-active {
      //  .arrow {
      //    transform: scaleY(-1);
      //  }
      //}

      //@include large-screen {
      //  &:hover {
      //    .sub-menu {
      //      opacity: 1;
      //      pointer-events: auto;
      //    }
      //  }
      //}
    }
  }

  &.dark-header {
    .menu-item {
      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 15px;
        bottom: -15px;
        background-color: $sky-breeze;
        transition: width $duration , font-weight $duration;
      }
      a {
        color: $frosted-sky;
      }

      &:hover {
        &:after {
          width: 28px;
        }
        a {
          font-size: 32px;
          color: $sky-breeze;
          font-weight: 800;
        }
      }

      &.active-page-link {
        a {
          color: $coFFD_yellow;
        }
      }

      &.menu-item-has-children {
        .sub-menu {
          height: 0;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          padding-inline: 30px;

          //@include media-screen-min-1024 {
          //  height: auto;
          //  width: size(200);
          //  background: rgba(245, 245, 245, 0.98);
          //  @include paddingY(size(20));
          //  position: absolute;
          //  top: 100%;
          //  left: 50%;
          //  transform: translateX(-50%);
          //  opacity: 0;
          //  transition: opacity $duration;
          //  pointer-events: none;
          //}

        }

        //.arrow {
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  position: absolute;
        //  top: 0;
        //  transform-origin: 50% 50%;
        //  width: size(12);
        //  height: size(28);
        //  right: 0;
        //  transition: transform $duration;
        //
        //  svg {
        //    @include square(100%);
        //  }
        //
        //  @include large-screen {
        //    display: none;
        //  }
        //}

        //.menu-item-in-sub-menu {
        //  &:not(:last-child) {
        //    margin-bottom: size(22);
        //  }
        //
        //  a {
        //    @include font(14px, 700, 100%, #d1d1d1, $lato);
        //    transition: color $duration;
        //    padding: 0;
        //    @include large-screen {
        //      color: $virtual_world_fogra;
        //    }
        //
        //    &:after {
        //      display: none;
        //    }
        //  }
        //
        //  &:hover {
        //    a {
        //      color: $virtual_world_blue;
        //    }
        //  }
        //
        //  &.active-page-sublink {
        //    a {
        //      color: $virtual_world_blue;
        //    }
        //  }
        //}

        //&.menu-item-active {
        //  .arrow {
        //    transform: scaleY(-1);
        //  }
        //}

        //@include large-screen {
        //  &:hover {
        //    .sub-menu {
        //      opacity: 1;
        //      pointer-events: auto;
        //    }
        //  }
        //}
      }
    }
    .navbar-wrapper {
      @include media-screen-max-1024 {
        background-color: $midnight-depth;
      }
    }
    .burger-menu {
      span {
        &:after, &:before {
          background: $frosted-sky;
        }
      }
    }
  }

}


#wpadminbar {
  display: none;
}