@import '../../styles/variables.scss';

.our_vision_block {
  padding-bottom: 188px;
  padding-top: 180px;
  .cards-wrapper {
    background-color: $frosted-sky;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    @include media-screen-min-768 {
      justify-content: space-between;
      flex-direction: row;
    }
    .left-image-card {
      width: 100%;
      @include media-screen-min-768 {
        width: 41.73%;
      }
      .left-image {
        padding-top: 127.15%;
        img {
          border-radius: 27px;
        }
      }
    }
    .right-content {
      width: 100%;
      @include media-screen-min-768 {
        width: 37.13%;
      }
      .text {
        font-family: $maxima;

      }
      .description {
        p {
          font-family: $maxima;
        }
      }
    }
  }
}
