@import '../../styles/variables.scss';

.faqs_block {
  padding-block: 70px 60px;
  @include media-screen-min-1024 {
    padding-block: 138px 123px;
  }

  .content {
    gap: 30px;
    margin: 0 auto;
    @include media-screen-max-768 {
      gap: 40px;
    }
    @include media-screen-min-1024 {
      max-width: 1000px;
    }
    .text {
      color: #2A90DD;
    }
  }

  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }

  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }

  .accordion-content > div {
    overflow: hidden;
  }


  .accordion {
    margin-top: 65px;
    @include media-screen-min-1440 {
      margin-top: 103px;
      padding-inline: 130px 122px;
    }
  }

  .accordion-panel {
    border-radius: 8px;
    //background-color: blue;
    transition: background-color $duration;
    background-color: $frosted-sky;
    padding: 30px;
    cursor: pointer;
    @include media-screen-min-1280 {
      padding: 30px 53px 38px 63px;
    }
    box-shadow: 0px 4.72px 18.89px 0px #00000014;

    &:not(:last-child) {
      margin-bottom: 30px;
      @include media-screen-min-1024 {
        margin-bottom: 59px;
      }
    }

    .title {
      position: relative;
    }

    .answer {
      p {
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 22px;
        max-width: 99%;
        @include media-screen-max-992 {
          font-size: 18px;
        }
      }
      .spacer {
        height: 40px;
        @include media-screen-min-1024 {
          height: 60px;
        }
      }
      .line-answer {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: relative;
        top: 25px;
        @include media-screen-min-1024 {
          top: 42px;
        }
      }
      .answer-svg {
        width: 39px;
        height: 18px;
        margin-left: auto;
        display: flex;
        margin-top: 35px;
      }
    }

    &.active {
      background-color: red;
    }

    &.accordion-panel-style {
      background-color: $skybolt-blue;
      .toggle-open {
        transform: translateY(-50%) rotate(180deg);
      }
      .accordion-trigger {
        color: $white;
      }
      .toggle-open {
        path {
          fill: $white;
        }
      }
    }
  }

  .accordion-trigger {
    text-align: left;
    background-color: transparent;
    border: transparent;
    color:$midnight-depth;
    transition: color $duration;
    @include media-screen-max-600 {
      max-width: 270px;
    }
    @include media-screen-max-992 {
      font-size: 18px;
    }
    @include media-screen-min-600 {
      max-width: 85%;
    }
    .toggle-open {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      transition: transform $duration;
      @include media-screen-min-992{
        width: 39px;
        height: 37px;
      }
    }
  }
}
