@import '../../styles/variables.scss';

.tutor_cards_block {
  padding-block: 50px 75px;
  
  @include media-screen-min-992 {
    padding-block: 76px 100px;
  }
  
  .tutors-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
    justify-content: center;
    gap: 32px;
    @include media-screen-min-768 {
      max-width: 710px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-screen-min-992 {
      max-width: 941px;
    }
    @include media-screen-min-1024 {
      gap: 55px;
    }
  }
  
  .tutor-card:only-child,
  .tutor-card:nth-last-child(1):nth-child(odd) {
    @include media-screen-min-768 {
      max-width: 337px;
      grid-column: 1 / -1;
      justify-self: center;
      
    }
    @include media-screen-min-992 {
      max-width: 442px;
    }
  }
  
  .tutor-card {
    padding: 25px;
    background: $white;
    border-radius: 20px;
    box-shadow: 0 4px 15px 0 rgba(147, 147, 147, 0.3);
    text-align: center;
    @include media-screen-min-992 {
      padding: 40px 25px;
      max-width: 442px;
    }
    
  }
  
  .tutor-image {
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 30px;
    @include media-screen-min-992 {
      width: 192px;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .tutor-role {
    margin-top: 5px;
    margin-bottom: 31px;
    color: $co555_gray
  }
  
  .information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media-screen-min-992 {
      gap: 32px;
    }
  }
  
  .tutor-text {
    font-family: $roboto;
    text-align: left;
    line-height: 160%;
    font-size: 16px;
    @include media-screen-min-992 {
      font-size: 18px;
    }
    
    strong {
      font-weight: 500;
    }
  }
  
}
