@import '../../styles/variables.scss';

.services_block {
  padding-block: 70px 60px;
  @include media-screen-min-1024 {
    padding-block: 138px 123px;
  }

  .content {
    gap: 30px;
    margin: 0 auto;
    @include media-screen-max-768 {
      gap: 40px;
    }
    @include media-screen-min-1024 {
      max-width: 1000px;
    }
    .text {
      color: $skybolt-blue;
    }
  }

  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }

  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }

  .accordion-content > div {
    overflow: hidden;
  }


  .accordion {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 53px 58px;
  }

  .accordion-panel {
    border-radius: 8px;
    background-color: $frosted-sky;
    padding: 30px;
    cursor: pointer;
    @include media-screen-min-1280 {
      padding: 55px 50px 40px 57px;
    }
    box-shadow: 0 4.72px 18.89px 0 #00000014;
    transition: background-color $duration;
    .title {
      position: relative;
    }

    .answer {
      p {
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 22px;
        @include media-screen-max-992 {
          font-size: 18px;
        }
      }
      .spacer {
        height: 30px;
        @include media-screen-min-1024 {
          height: 49px;
        }
      }
      .line-answer {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: relative;
        top: 25px;
        @include media-screen-min-1024 {
          top: 42px;
        }
      }
      .answer-svg {
        width: 39px;
        height: 18px;
        margin-left: auto;
        display: flex;
        margin-top: 35px;
      }
    }

    .link-index {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      .link {
        display: flex;
        align-items: center;
        gap: 15px;
        transition: color $duration;
        .link-svg {
          transition: fill $duration , rect $duration;
        }
      }
      .index-card {
        transition: color $duration;
        color: $midnight-depth;
        font-size: 60px;
        line-height: 28px;
      }
    }

    &.accordion-panel-style {
      background-color: $midnight-depth;
      .accordion-trigger {
        color: $sky-breeze;
      }
      .index-card {
        color: $frosted-sky;
      }
      .link-index {
        .link {
          color: $frosted-sky;
          .link-svg {
            rect {
              fill: $sky-breeze;
            }
            path {
              fill: $midnight-depth;
            }
          }
        }
        .index-card {
          color: $frosted-sky;
        }
      }
    }

    &:hover {
      background-color: $midnight-depth;
      .accordion-trigger {
        color: $sky-breeze;
      }
      .link-index {
        .link {
          color: $frosted-sky;
          .link-svg {
            rect {
              fill: $sky-breeze;
            }
            path {
              fill: $midnight-depth;
            }
          }
        }
        .index-card {
          color: $frosted-sky;
        }
      }
    }

  }


  .accordion-trigger {
    text-align: left;
    background-color: transparent;
    border: transparent;
    color:$midnight-depth;
    transition: color $duration;
    @include media-screen-max-992 {
      font-size: 18px;
    }
  }

  .accordion-trigger .toggle-open {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    @include media-screen-min-992{
      width: 39px;
      height: 37px;
    }
  }



}
