@import '../../styles/variables.scss';

.services_block {
  padding-block: 70px 60px;
  @include media-screen-min-768 {
    padding-top: 230px;
  }
  @include media-screen-min-1024 {
    padding-block: 300px 100px;
  }
  @include media-screen-min-1440 {
    padding-block: 425px 138px;
  }
  $card-padding-mobile: 30px;
  $card-padding: 57px;
  .card {
    padding-inline: $card-padding;
    overflow: hidden;

    .full-width-inner {
      margin-inline: -$card-padding;
      width: calc(100% + #{$card-padding * 2});
    }
  }

  .content {
    gap: 30px;
    margin: 0 auto;
    @include media-screen-max-768 {
      gap: 40px;
    }
    @include media-screen-min-768 {
      max-width: 776px;
    }
    .text {
      color: $skybolt-blue;
    }
    .description {
      color: $graphite-gray;
    }
  }

  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }

  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }

  .accordion-content > div {
    overflow: hidden;
  }

  .accordion {
    margin-top: 65px;
    display: grid;
    row-gap: 20px;
    @include media-screen-min-768 {
      grid-template-columns: repeat(2,1fr);
      gap: 40px 25px;
    }
    @include media-screen-min-992 {
      gap: 45px 50px;
    }
    @include media-screen-min-1440 {
      grid-template-columns: repeat(3,1fr);
      gap: 53px 58px;
    }
  }

  .accordion-panel {
    height: fit-content;
    border-radius: 8px;
    background-color: $frosted-sky;
    cursor: pointer;
    box-shadow: 0 4.72px 18.89px 0 #00000014;
    transition: background-color $duration;
    padding-block: 30px 25px;
    @include media-screen-min-1024 {
      padding-block: 58px 45px;
    }
    .title {
      position: relative;
      padding-inline: $card-padding-mobile;
      @include media-screen-min-1280  {
        padding-inline: $card-padding;
      }
    }

    .answer {
      padding-inline: 30px;
      @include media-screen-min-1280 {
        padding-inline: 50px 57px;
      }
      p {
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        font-size: 18px;
        @include media-screen-min-1024 {
          font-size: 20px;
        }
      }
      .spacer {
        height: 30px;
        @include media-screen-min-1024 {
          height: 49px;
        }
      }
      .svg-answer {
        margin-top: 18px;
        margin-inline: -$card-padding;
        width: calc(100% + #{$card-padding * 2});
      }

    }

    .link-index {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      .link {
        display: flex;
        align-items: center;
        gap: 15px;
        color: $midnight-depth;
        transition: color $duration;
        .svg-cards {
          width: 32px;
          height: 34px;
          border-radius: 8px;
          background-color: $midnight-depth;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color $duration;
          .svg-arrow {
            transition: fill $duration;
          }
        }
      }
      .index-card {
        transition: color $duration;
        color: $midnight-depth;
        font-size: 60px;
        line-height: 28px;
      }
      padding-inline: $card-padding-mobile;

      @include media-screen-min-1280  {
        padding-inline: $card-padding;
      }
    }

    &.accordion-panel-style , &:hover {
      background-color: $midnight-depth;
      .accordion-trigger {
        color: $sky-breeze;
      }
      .index-card {
        color: $frosted-sky;
      }
      .link-index {
        .link {
          color: $frosted-sky;
          .svg-arrow {
            path {
              fill: $midnight-depth;
            }
          }
        }
        .index-card {
          color: $frosted-sky;
        }
        .svg-cards {
          background-color: $sky-breeze;
        }
      }
    }


  }

  .accordion-trigger {
    text-align: left;
    background-color: transparent;
    border: transparent;
    color:$midnight-depth;
    transition: color $duration;
    @include media-screen-max-992 {
      font-size: 18px;
    }
  }

  .accordion-trigger .toggle-open {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    @include media-screen-min-992{
      width: 39px;
      height: 37px;
    }
  }

}
